<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Addition</h1>
    <form action="/" method="POST">
        <input type=text size=5 name="num1"> +
        <input type=text size=5 name="num2"> +
        <input type=text size=5 name="num3"> =
        <!--<input type="number" name="num1" placeholder="Enter num1" id="">
        <input type="number" name="num2" placeholder="Enter num2" id="">
        <input type="number" name="num3" placeholder="Enter num3" id="">-->
        <button type="submit">Sum</button>
    </form>
</body>

</html>